* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}


/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000; 
}

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    color: white;
    padding-right: 40px;
    padding-left: 30px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.navbar .logo img {
    width: 8%;
    height: auto;
    margin-top: 0.5rem;
}

.navbar .logo .title {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.navbar .logo .title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #091f4c;
}

.navbar .logo .title p {
    font-size: 14px;
    line-height: 1.6;
    color: #091f4c;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.navbar .links a {
    white-space: nowrap;
    color: #091f4c;
    font-size: 17px;
    font-weight: bold;
}

.navbar .links .nav-links.active {
    background-color: #aac5fb;
    border-radius: 10px;
    padding: 5px 10px;
}

.navbar .links .nav-links.active a {
    color: #091f4c;

}

.nav-links:hover {
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
    background-color: #e2e1e1;
    padding: 5px 10px;
}

.navbar .toggle_btn {
    color: #091f4c;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/* DROP MENU */
.drop_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop_menu.open {
    height: 240px;
}

.drop_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ============================================================================ */


/* HEADER */
.header {
    height: 690px;                                                        
    display: flex;                              
    align-items: center;                        
    justify-content: flex-start;
    padding: 50px 80px;
    margin-top: 5rem;
}

.header img {
    width: 50%; 
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.header_content {
    color: rgb(0, 0, 0);  
    font-family: "Inter", Arial, sans-serif; 
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2rem;
}

.header_content h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #091f4c;
}


/* MAIN */
.vimi {
    height: 700px;                                                        
    display: flex;
    flex-direction: column;                          
    align-items: center;                        
    justify-content: center;
    padding: 50px 80px;
    background-color: #f8f8f8;
    gap: 40px;
}

.vimi .vimi-title {
    color: #091f4c;  
    font-family: "Inter", Arial, sans-serif; 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
}

.vimi h1 {
    text-align: center;
    margin-bottom: 10px;
}

.card-visi {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    max-width: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-misi {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    max-width: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-misi p {
    text-align: left;
    line-height: 1.6;
}

.struktur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px 80px;
}

.struktur h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: #091f4c;
    font-size: 36px;
    font-weight: bold;
}

.container-struktur {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    gap: 40px;
}

.card-struktur {
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.image-box {
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}

.info-box {
    background-color: #496eb8; /* Warna Hijau */
    color: white;
    text-align: center;
    padding: 15px 5px;
    flex-grow: 1; /* Menjaga tinggi box tetap sama */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-box h3 {
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.info-box p {
    font-size: 11px;
    font-weight: normal;
}

.peta h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #091f4c;
}


/* ======================================================================================== */
/* FOOTER */
.footer {
    background-color: #091f4c;
    color: #fff;
    padding: 25px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.footer-col-1 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    width: 80px;
    margin-bottom: 15px;
}

.footer-col h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}

.footer-col ul li a:hover {
    opacity: 0.8;
}

.footer-col i {
    margin-right: 10px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 12px;
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.7;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    padding-top: 25px;
    font-size: 14px;
    border-top: 1px solid #444;}


/* RESPONSIVE */
@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .drop_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .drop_menu {
        left: 2rem;
        width: unset;
    }
}